.container {
  box-sizing: border-box;
  display: block;
  width: 740px;
  margin: 0 auto;
  border: 3px solid #E0EBE7;
  padding: 20px;
}

.button {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.month {
  display: block;
  width: 190px;
  text-align: center;
  font-size: 39px;
  line-height: 1;
}

.year {
  margin-left: 10px;
  font-size: 39px;
  font-weight: bold;
  line-height: 1;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 700px;
  height: 50px;
}

.row_month {
  width: 740px;
  margin: 0 auto;
}

.row_buttons {
  margin: 0 auto;
  justify-content: space-around;
}

.group-button {
  width: 140px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #E0EBE7;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.active {
  background-color: #FAF0E6;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid red;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  margin: 5px;
  text-align: center;
  font-size: 28px;
  line-height: 1;
  background-color: #fafafa;
}

.cell:hover:not(.cell_hidden):not(.cell_days) {
  border: 1px solid black;
  transition: border 0.25s ease-in-out;
}

.cell_days {
  background-color: #E0EBE7 !important;
}

.cell_hidden {
  opacity: 0.35;
}

.cell:nth-of-type(7n + 6) {
  background-color: #FAF0E6;
}

.cell:nth-of-type(7n + 7) {
  background-color: #FAF0E6;
}

.cell_daytime {
  background-color: red !important;
  color: #fff;
}

.cell_nighttime {
  background-color: #E5E5E5 !important;
  font-weight: bold;
}
