//== Colors
$onyx:              #151515 !default;
$pink-light:        #FAF0E6 !default;
$blue-light:        #2196f3 !default;

//== Typography

//== Media queries breakpoints
//
$screen-xs:           320px !default;
$screen-sm:           660px !default;

//== Container sizes
//
$container-sm:        700px !default;