.callboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $blue-light;

  &__container {
    width: $container-md;
    overflow: hidden;
  }
}

@media (max-width: $screen-md) {
.callboard__container {
    width: $container-sm;
  }
}

@media (max-width: $screen-sm) {
  .callboard__container {
    width: 100vw;
  }
}
