@keyframes moveLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  50% {
    transform: translate3d(-60px, 0, 0);
  }
  51% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  50% {
    transform: translate3d(60px, 0, 0);
  }
  51% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.calendar {
  width: 100%;

  &__days {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    color: rgba(0, 0, 0, .54);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px 20px;
    font-size: 21px;
    border-radius: 50%;
    line-height: 1;

    &_hidden {
      opacity: 0.2;
    }

    &_day {
      background-color: $blue-light;
      color: #fff;
    }

    &_night {
      background-color: #fff;
      border: 4px solid $blue-light;
    }

    &_today {
      color: $red;
      font-weight: bold;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 370px;
    padding: 5px 0;

    &_left {
      animation: moveLeft 0.3s;
    }

    &_right {
      animation: moveRight 0.3s;
    }
  }

  &__month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 60px;
    margin: 0 auto;
    padding: 10px 0;

    &-wrapper {
      text-align: center;
    }

    &-title {
      font-size: 28px;
      line-height: 1.2;
    }

    &-desc {
      font-size: 14px;
      color: $blue-light;
    }
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: $screen-md) {
  .calendar__day {
    width: 40px;
    height: 40px;
    margin: 5px 15px;
    font-size: 17px;
  }
}

@media (max-width: $screen-sm) {
  .calendar__day {
    width: 25px;
    height: 25px;
    margin: 5px 4vw;
    font-size: 10px;

    &_night {
      border: 1px solid $blue-light;
    }
  }

  .calendar__body {
    height: 300px;
  }
}

@media (max-width: 410px) {
  .calendar__day {
    margin: 5px 3.2vw;
  }
}
