.callboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: $container-sm;
  height: 100vh;
  background-color: $blue-light;

  &__container {
    width: $container-sm;
  }
}
